@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
   

}

#lista{
    margin-top: 20px;
    list-style:none;
    color: #eb8211;
    font-size: 1.5rem;
    font-style: italic;
    
}

#ranking{
    font-family:'Alfa Slab One', cursive;

}

body{
    background-color: black;
    color: aliceblue;
}

.hide{
    display:none !important;
}

#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    margin:20px auto;
    background-color: #fff;
    width: 80%;
    border:none;
    height: 300px;
    border-radius: 20%;
}

#msg-input{
    color: darkblue;
}

#btn-login{

}

#nome{
    width: 40%;
    border:none;
    border-radius: 10%;
    font-size: 1rem;
    padding: 4px;
    margin-bottom: 15px;
    box-shadow: 10px 5px 5px black;
    text-align: center;
}

#titulo{
    font-size: 2rem;
    padding: 40px 0;
    text-align: center;
    background-color: #2d425a;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#placar-container{
    background-color: aliceblue;
    color: black;
    text-align: center;
    width: 60%;
    margin:0px auto;
    padding: 5px;
    border-radius: 20px;
}

#placar-container p{
    font-size: 1rem;
    margin: 5px 0;
}

#placar-container #display-placar{
    font-size: 2rem;
    font-weight: bold;
}

#resposta-correta{
    font-weight: bold;
    color: rgb(14, 205, 14);
}

#qtd-questoes{
    font-weight: bold;
    color: rgb(31, 106, 193);
}

#btn-reiniciar{
    background-color: chocolate;
    color: aliceblue;
    font-weight: bold;
    font-size: .8rem;
    height: 50px;
    border-radius: 25%;
    border: 2px solid transparent;
    width: 55%;
    text-transform: uppercase;
    margin-top: 1%;
    cursor: pointer;
    transition: .3s;

}

#btn-reiniciar:hover{
    background-color: transparent;
    border-color: chocolate;
    color: chocolate;

}


#quizz-container{
    width: 70%;
    font-size: 1.5rem;
    margin:20px auto;
    text-align: center;
    padding: 25px;
    border-radius: 25px;
    border: 1px solid #cddde8;
}


#questao-numero{
    font-weight: bold;
}


#caixa-respostas button{
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #ffffff;
    padding-left: 4px;
    margin: 10px 0;
    width: 100%;
    border-radius: 20px;
    height: 55px;
    cursor: pointer;
    transition: .5s;
    
}

#caixa-respostas button:hover{
    background-color: chocolate;
    color:aliceblue;
}

#caixa-respostas .btn-letra{
    font-size: 1rem;
    font-weight: bold;
    background-color: chocolate;
    color: azure;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 30px;


}

.resposta-questao{
    margin-left: 10px;
    font-size: 1rem;
}

#caixa-respostas .resposta-errada,
#caixa-respostas .resposta-errada .btn-letra{
    background-color: chocolate;
    color: aliceblue;
}

#caixa-respostas .resposta-correta,
#caixa-respostas .resposta-correta .btn-letra{
    background-color: rgb(8, 180, 59);
    color: aliceblue;
}

#salvos{
    background-color: rgb(11, 17, 202);
    color:#fff;
    border-radius: 15%;
    width: 60%;
    margin: 15px auto;
    height: 250px;
    text-align: center;
}

@media(max-width:450px){

    #nome{
        width: 90%;
        
    }
   
    #quizz-container{
        width: 98%;
        font-size: 1.3rem;
        border: 1px solid #cddde8;
    }

    
    #caixa-respostas button{
        padding-left: 4px;
        margin: 5px 0;        
        border-radius: 20px;
        height: 55px;
      
       
    }   

    .resposta-questao{
        font-size: .7rem;
    }

    #placar-container{
        
        width: 95%;
        
    }

    #display-placar{
        margin-top: 0px;
    }

    #salvos{
        width: 95%;
    }



    

    

   
}

